/* 基本样式 */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  
}

@font-face {
  font-family: "Smiley_Sans";
  font-weight: 400;
  src:  url('../style/Smiley_Sans2.woff2') format('woff2'),
        url('../style/Smiley_Sans1.woff') format('woff');
  font-display: swap;
}

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  background-color: rgb(243, 243, 243);
  overflow:scroll; 
}
/* 视频背景 */
.head-background{
  position: relative;
  width: 100%;
  height: 28%;
}

/* 视频 */
.video-background {
  position: fixed; /* 固定位置 */
  top: 0; /* 距离顶部0 */
  left: 0; /* 距离左侧0 */
  width: 100%; /* 宽度100% */
  height: 28%; 
  object-fit: cover; /* 确保视频覆盖整个区域，可能会裁剪 */
  z-index: -2; /* 确保视频在背景层 */
}
/* 黑色覆盖背景 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 28%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
  z-index: -1; /* 在视频之上，内容之下 */
}
/* 标题 */
.head-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 28%;
  margin-bottom: auto;
}
.content {
  color: white;
  text-align: center;
 
}

/* 车车 */
#lottie{
  height: 15vh;
  width: auto;
  margin-top: 0.3%;
}

/* logo */
.image-logo{
  top: 0.3%;
  left: 1%;
  position: absolute;
  font-weight:bold;
}
.image-logo img{
  height: auto;    /* 保持宽高比 */
  width: 12%;
}



/* 工具菜单 */
.out-tool-menu {
 padding-top: 15%;
 z-index: -3;
}

.tool-menu {
  border-radius: 5px;
  width: 65%; 
  display:block;
  box-sizing: border-box; /* 确保padding和border包含在元素的width和height内 */
  margin: 0 auto; /* 上下边距为0，左右自动计算实现水平居中 */
  margin-top: 0.5%; /* 可以根据需要调整 */
  background-color: rgb(250, 253, 255);
  height: 22vh;
  max-height: 22vh;
} 

.tool-middle {
  margin-left: 2%;
  margin-right: 2%;

}
.tool-title {
  color: #707070;
  border-bottom: 2px solid #70707024;
  padding-top: 1%;
}
.tool-title img{
  height: auto;
  width: 1.3em;
}
.tool-title strong{
  font-size: 1em;
} 

/* 菜单按钮 */
.tool-list{
  display: flex;
  text-align: center;
  flex-wrap: wrap; /* 允许按钮换行 */

}

.tool-btn{
  margin: 10px;
  font-size: 90%;
  flex: 1;
}
.tool-button{
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: auto;
  max-width: 170px;
  height: auto;
  background-color: #efefef;
  cursor: pointer;
}
.tool-button a{
  /* margin: 5%; */
  margin-left: 1vh;
}
.tool-button:hover{
  background-color: #76CDE6;
}
.tool-button img{
  height: auto;
  width: 19%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 2%;
}

  /* 导航菜单 */
  .navigation{
    top: 0;
    left: 0;
    right: 0;
    height: 5vh;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 5;
    box-shadow: 0 10px 15px -5px rgba(0,0,0,0.1);
  }
  .navigation img{
    width: 10vh;
    height: auto;
    margin-left: 5vh;
  }
  .nav-main-a {
    margin-left: 5vh;
  }

  /* 左侧目录 */
  .nav-list{
    position: fixed;
    left: 0;
    z-index: 5;
    overflow-y: auto;  
    list-style-position: inside; /* 默认是outside，inside可以使列表标记与内容一起内联排列 */
    text-align: left; /* 确保文本靠左对齐 */
    margin: 0; /* 可选：移除默认的外边距 */
    margin-top: 7vh;
    padding-left: 0.5vh;
  }
  .nav-list-ul{
    margin-top: 0;
    padding: 0;
    color: #f5f5fb;
  }
  .nav-list-ul li>ol{
    padding-left: 0;
  }
  .nav-list-ul ol>li{
    font-size: 90%;
    height: 30px;
    align-items: center;
    display: flex;
    margin-top: 15px;
    color: #000000;
    width: auto;
  }
  .nav-list-ul ol>li>a:hover{
    background-color: #7A7AFA;
    color: white;
    height: 35px;
    align-items: center;
    display: flex;
  }
  a{
    text-decoration: none;
  }
  ol>li>a:visited {
    color: inherit; /* 或者指定任何你想要的颜色，比如初始颜色 */
  }

    /* 单击后列表 */
    .active {
      color: #7A7AFA !important;
      font-weight: bold;
      font-size: 1.1em;
    } 
    .nav-list-ul li a.active {
      border-left: 3px solid #1890ff;
  }
    .active:hover {
    background-color: initial !important;
    color: #7A7AFA !important;
      }
  .li-title{
    font-size: 105%;
    font-weight: bold;
    color: #6c6c6c;
    margin-top: 1vh;
  }

  .li-title-top{
    font-size: 105%;
    font-weight: bold;
    color: #6c6c6c;
  }
  .nav-list li{
    list-style-type: none;
    list-style-position: inside; /* 默认是outside，inside可以使列表标记与内容一起内联排列 */
    padding-left: 0;
    margin-top: 0;
  }
  .nav-main {
    background-color: #f5f5fb;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* 新窗口 */
  .container {
    margin-left: 145px;
    height: 100%;
    padding-top: 7vh;
    }
  
  

    /*@media (min-width: 768px) {
      .container {
        max-width: 600px;  在平板及更大屏幕上设定固定最大宽度 
        max-height: 80%;  调整较大屏幕上的最大高度 
      }
    }*/
  
    /*标题*/
    .function-module{
      border: 1px solid #ccc;
      width: 98%;
      border-radius: 4px;
      background-color: white;
    }
    .function-head{
      display: flex;
      align-items: center;
      width: 100%;
      background-color: #fafeff;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px solid #ccc;
    }
    .function-module img{
      height: 30px;
      width: auto;
      margin: 1%;
      margin-left: 1%;
      position: relative;
    }

    /* 功能模块 */
    .function-middle{
      padding-top: 3vh;
      display: flex;
    }
    /* 左侧上传及处理 */
    .function-middle-left{
      border: 1px solid #ccc;
      width: 50%;
      margin-left: 1vh;
      margin-bottom: 1vh;
    }

    /*窗口中间按钮进度栏*/
    /*拖拽上传框样式*/
  .el-uploader{
    
    margin-left:1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    height: 40vh;
    place-items: center;
    text-align: center;
  }
  .file-uploader {
    border: 2px dashed #ccc;
    margin-left:1vh;
    margin-right: 1vh;
    margin-bottom: 1vh;
    margin-top: 1vh;
    height: 40vh;
    place-items: center;
    text-align: center;
  }
  .file-uploader:hover {
    background-color: #f9f9f9;
  }

  .upload-drag .el-upload-dragger{
    height: 25vh;
    border: 2px dashed #00ACE7 !important;
  }
  .upload-drag .el-upload-list {
    display: none;
  }
  .file-uploader button {
    position: relative;
    cursor: pointer;
  }
  el-progress {
    width: 100%;
  }
  #upload{
    width: auto;
    height: 23vh;
  }
  

  .upload-space {
    font-family: 'Smiley_Sans',sans-serif;
    width: 100%;
    height: 100%;
  }
  
  /*进度条文字样式*/
  .upload-status {
    background-color: white; 
    z-index: 4; /* 确位于之上 */
    display:flex;
    width: 100%;
    height: 100%;
    flex-direction: column; /* 设置主轴为垂直方向 */
  }
  
  .upload-status-out {
    justify-content: center;
    align-items: center;
    display:flex;
    flex : 1;
  }
  .upload-status-in  {
    flex : 1;
    margin-right: 1vh;
    margin-left: 1vh;
  }


      /*文件处理时加载图片*/
      .processing-status {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 100%;
        z-index: 5; /* 确保加载图片位于进度条之上 */
        pointer-events: none; /* 阻止鼠标事件穿透 */
      }
      
      .processing-status img{
        width: 20vh;
        height: auto;
      }

  /* 右侧操作 */
  .function-middle-right{
    border: 1px solid #ccc;
    width: 50%;
    margin-right: 1vh;
    margin-bottom: 1vh;
    display:flex;
    align-items: center;
    text-align: center;
  }
  
  /*提交输入框*/
  .upload-btn {
    justify-content: center;
    align-items: center;
    flex : 1;
    display: flex;
  }

  
  /*文字样式*/
  .upload-btn label,option,select{
    color:#2981e6;
    font-weight:bold;
    font-size: 1em;
  }
  .upload-btn p{
      color:#2981e6;
      font-size:18px;
      font-weight:bold;
      margin:10px;
  }
  .input-tag {
    width:80vh;
    margin-bottom: 2vh;
  }
  .slider-block {
    width:80vh;
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    margin-top: 3vh;
    margin-bottom: 4vh;
  }
  .demonstration {
    width: 240px;
    align-items: center;
    display: flex;
  }
  .demonstration img{
    width: 15px;
    height: auto;
  }

  /*提交按钮*/
  /* Submit Button */
  .submit-button {
    background-color: #00b1fc;
    border-radius: 6px;
    border: 1px solid blue;
    padding:  1%;
    border: 1px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    width: 15vh;
    }
    
    .submit-button:hover {
    background-color: #0056b3;
    }
      .submit-OCR {
    background-color: #00b1fc;
    border-radius: 6px;
    border: 1px solid blue;
    padding:  1%;
    border: 1px;
    color: white;
    font-size: 1.5em;
    cursor: pointer;
    width: 100px;
    height: 45px;
    }
    
    .submit-OCR:hover {
    background-color: #0056b3;
    }

    .function-text{
      border: 1px solid #ccc;
      width: 98%;
      border-radius: 4px;
      margin-top: 2vh;
      background-color: white;
    }
    .text-content{
      border-bottom: 2px solid #70707024;
      margin-left:1vh;
      margin-right: 1vh;
    }
    .txt-content-li li{
      margin-top: 1vh;
    }
    .txt-content-li-out{
      position: relative; /* 设置相对定位 */
      list-style: none; 
      padding-left: 20px;
    }
    .txt-content-li-out::before{
      content: ''; /* 插入内容 */
      display: inline-block;
      width: 20px; /* 图片宽度 */
      height: 20px; /* 图片高度 */
      background-image: url('../style/attention.png'); /* 替换为你的图片路径 */
      background-size: cover; /* 确保图片完全填充 */
      position: absolute;
      left: 0;
    }

    .text-head{
      display: flex;
      align-items: center;
      width: 100%;
      background-color: #fafeff;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border: 1px solid #ccc;
    }
    .text-head img{
      height: 30px;
      width: auto;
      margin: 1%;
      margin-left: 1%;
      position: relative;
    }
    /*流程图*/
    .img-tool{
      text-align: center;
      background-color: white;
    }
    
    .img-tool p{
      position: absolute;
      font-weight:10px;
      margin-left: 1vh;
    }


    .processing-message {
      font-size: 20px;
      color: #5db6ff;
      font-weight: bold;
    }
  
    /*输入框*/
  /* 输入框容器 */
  .input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    max-width: 450px;
    margin-bottom: 5vh;
  }
  .input-container-hidden{
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
    max-width: 450px;
    margin-bottom: 5vh;
    visibility: hidden;
  }

  
  .input-container:focus-within {
    border-color: #2981e6;
    box-shadow: 0 0 8px rgba(147,224,255);
  }
  
  /* 标签样式 */
  .input-label {
    margin-right: 10px;
    color: #555;
    font-size: 14px;
    flex-shrink: 0;
  }
  
  /* 自定义数字输入框容器 */
  
  /* 输入框和选择框的样式 */
  .custom-input{
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-size: 16px;
    width: 100px; 
    background-color: #efefef;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 0;
  }
  
  /* 隐藏所有浏览器的默认上下箭头 */
  input[type="number"]::-webkit-inner-spin-button, 
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  
  /* 按钮样式 */
  .increment-btn, .decrement-btn {
    background-color: #f9f9f9;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .increment-btn:hover, .decrement-btn:hover {
    background-color: #e0e0e0;
  }
  
  .increment-btn:active, .decrement-btn:active {
    background-color: #d4d4d4;
  }
  
  /* 选择框的样式 */
  .select-container {
    margin-bottom: 5vh;
  }
  
  .select-label {
    color: #555;
  }
  
  .custom-select {
    appearance: none;
    background-color: #fff;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    background-image: url('../style/down.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    cursor: pointer;
    max-width: 450px;
    width: 450px;
    height: 45px;
    max-height: 45px;
  }
  
  .custom-select:focus {
    border-color: #2981e6;
    box-shadow: 0 0 8px rgba(147,224,255);
    outline: none;
  }
  
  .custom-select option {
    background-color: white;
    padding: 8px 12px;
  }
  
  .custom-select option:disabled {
    color: #aaa;
    font-style: italic;
  }
  
  .custom-select:hover {
    border-color: #bbb;
  }
  
  .custom-select:active {
    border-color: #2981e6;
  }
  
  /* 确保在Firefox中也能隐藏默认的下拉箭头 */
  .custom-select::-ms-expand {
    display: none;
  }
  
  /* 为WebKit浏览器（如Chrome和Safari）设置额外的样式 */
  @supports (-webkit-appearance: none) or (-moz-appearance: none) {
    .custom-select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }


  /* 文档显示和下载 */
  .upload-txt{
    width: 100%;
  }
  .txt-content {
    margin-left: 1vh;
    margin-right: 1vh;
    overflow: auto;
    height: 38vh;
    display: flex;
    background-color: #F8F5FA;
    border-radius: 5px;
    margin-top: 1vh;
  }

  /* 显示的表格 */
  .txt-content table {
    white-space: pre-wrap; /* 保留空白符序列，但是正常地进行换行 */
    word-wrap: break-word; /* 允许长单词或 URL 地址换行到下一行 */
    padding: 10px;
    width: 80vh;
    width: 100%;
    height: 100%;
    margin-top: 1vh;
    border-collapse: collapse;
    margin-left: 1vh;
    margin-right: 1vh;
    
  }

  .txt-content table,td {
    border: 2px dashed #444444; /* 2像素宽的灰色虚线边框 */
    border-radius: 5px;
  }
  

  /* 引入本地SVG作为滚动条样式 */
  /* 设置滚动条的宽度 */
::-webkit-scrollbar {
  width: 7px;
}
/* 设置滚动条轨道的背景为自定义 SVG 文件。 */
::-webkit-scrollbar-track {
  background: url('../style/scrollbar.svg') no-repeat center;
  background-size: contain;
}

/* 设置滚动条滑块的样式 */
::-webkit-scrollbar-thumb {
  background-color: #cecefa;
  border-radius: 6px;
}
.txt-content::-webkit-scrollbar-thumb {
  max-height: 200px;
}
/* 设置滚动条滑块在悬停时的样式。 */
::-webkit-scrollbar-thumb:hover {
  background: #7A7AFA;
}


  .txt-close {
    margin-top: 1vh;
    margin-bottom: -2vh;
    display: flex;
    justify-content: space-evenly;
  }
  .txt-close button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    border: none;
  }
  .download-btn{
    background-color: #E0DFFF;
    border-radius: 5px;
  }
  .download-btn:hover{
    background-color: #9C98FF;
    color: white;
  }
  .close-btn{
    background-color: #ff9797;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  .close-btn:hover{
    background-color: rgb(255, 66, 93);
    color: white;
  }
  .close-x{
    position: relative;

  }
  .close-btn-x{
    top: -2vh;
    right: 0;
    position: absolute;
    background-color: #ff9797;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 25px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .close-btn-x:hover{
    background-color: rgb(255, 66, 93);
    
  }
  
  /* 警告弹窗Alert */
  .custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  iframe {
    border: none;
  }
  
  .textLayer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    line-height: 1;
    pointer-events: none;
  }
  .textLayer span {
    color: transparent;
    position: absolute;
    white-space: pre;
    cursor: text;
    pointer-events: all;
    transform-origin: 0% 0%;
  }
  .action-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
  }
  
  .submit-button, 
  .action-buttons .el-button {
    width: 120px;
    height: 40px;
  }

.pdf-controls {
  margin-bottom: 5px;
}
#pdf-viewer {
  overflow: auto;
  width: 90vh;
  height: 65vh;
}

.custom-upload .el-upload--picture-card {
  width: 11vh; /* 设置宽度 */
  height: 11vh; /* 设置高度 */
  line-height: 10vh; /* 确保内部内容垂直居中 */
  margin-top: 1vh;
  
}
.custom-upload .el-upload-list__item {
  width: 11vh !important; /* 设置宽度 */
  height: 11vh !important; /* 设置高度 */
  margin-top: 1vh !important;
}
.custom-upload .el-upload--picture-card{
  display: none;
}






  
  /**
   *                    _ooOoo_
   *                   o8888888o
   *                   88" . "88
   *                   (| -_- |)
   *                    O\ = /O
   *                ____/`---'\____
   *                 .' \\| |// `.
   *               / \\||| : |||// \
   *             / _||||| -:- |||||- \
   *               | | \\\ - /// | |
   *             | \_| ''\---/'' | |
   *              \ .-\__ `-` ___/-. /
   *           ___`. .' /--.--\ `. . __
   *        ."" '< `.___\_<|>_/___.' >'"".
   *       | | : `- \`.;`\ _ /`;.`/ - ` : | |
   *         \ \ `-. \_ __\ /__ _/ .-` / /
   * ======`-.____`-.___\_____/___.-`____.-'======
   *                    `=---='
   *
   * .............................................
   *          佛祖保佑             妹有BUG
   */